# Dependency directories
node_modules/

# Bot package
package-lock.json

# Bot config
/config.json
.env

# Start the bot
startBot.bat

# Stats JSON file
stats.json

# Test and advanced commands directory
test/
test.js
commands/advanced/

# Visual Studio Code
.vscode/
