# Dependency directories
node_modules/

# Bot package
package-lock.json

# Bot config
/config.json
.env

# For starting the bot
start-bot.bat

# Stats JSON file
stats.json

# Test directory and command
test/
test.js

# Visual Studio Code
.vscode/
